
body{
  margin-left: 15%;
  margin-right:15%;
  text-align: center;

}


div{

border: 10px lightgrey solid
}
h2{
border: 4px #C2E9E9 solid
}
h2{ 
padding: 40px;
margin: 20px;
background-color:  #FFF0F5
}

h3{
background-color: #E8FBFB


}
h3{
	border: 4px white solid
}
h3{
text-align: right
}

